In [2]:
import pandas as pd
from interface import preprocessing_trends_fg, preprocessor_live_coin_data

In [3]:
csv_fg = '/Users/leonqueens/code/lifelonglearner94/cardano_crystal_ball/raw_data/Fear_and_greed_index_5Y.csv'
csv_trends = '/Users/leonqueens/code/lifelonglearner94/cardano_crystal_ball/raw_data/trends/trends.csv'

In [4]:
start = pd.Timestamp(year=2024,month=1, day=1)
end = pd.Timestamp(year=2024,month=1, day=3)

In [9]:
def preprocessor(start, end, csv_fg, csv_trends):
    df_trends = preprocessing_trends_fg.preprocess_trends(csv_trends)
    df_fg = preprocessing_trends_fg.preprocess_fear_greed(csv_fg)
    df_coin = preprocessor_live_coin_data.get_data_from_api_and_add_date_related_fields(int(start.timestamp()),int(end.timestamp()))
    df = pd.concat([df_coin, df_fg, df_trends], ignore_index=False)
    return df

In [10]:
preprocessor(start, end, csv_fg, csv_trends)

/Users/leonqueens/code/lifelonglearner94/cardano_crystal_ball/cardano_crystal_ball/interface/preprocessing_trends_fg.py:41: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_hourly[col].fillna(1, inplace=True)       # NaN gets replace by 1

data written in df from2024-01-01 00:00:00 to 2024-01-05 00:00:00

,date,rate,volume,cap,liquidity,value,Bitcoin,Cardano,cardano price,cryptocurrency,Ethereum
0,2024-01-01 00:00:00,0.597514,338407648.0,2.179993e+10,60542675.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-01 01:00:00,0.600312,339369275.0,2.190203e+10,63308393.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-01 02:00:00,0.603989,339235997.0,2.203615e+10,65246878.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-01-01 03:00:00,0.601510,328717710.0,2.194570e+10,60429980.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-01-01 04:00:00,0.598386,330877001.0,2.183174e+10,60675788.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2024-03-23 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.32,0.14,0.11,0.35,0.28
2024-03-23 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.32,0.14,0.11,0.35,0.28
2024-03-23 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.32,0.14,0.11,0.35,0.28
2024-03-23 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.32,0.14,0.11,0.35,0.28
2024-03-23 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.32,0.14,0.11,0.35,0.28

In [12]:
df_coin = preprocessor_live_coin_data.get_data_from_api_and_add_date_related_fields(int(start.timestamp()),int(end.timestamp()))

data written in df from2024-01-01 00:00:00 to 2024-01-05 00:00:00

In [13]:
df_coin

                   date      rate     volume          cap  liquidity
0   2024-01-01 00:00:00  0.597514  338407648  21799925693   60542675
1   2024-01-01 01:00:00  0.600312  339369275  21902026218   63308393
2   2024-01-01 02:00:00  0.603989  339235997  22036149534   65246878
3   2024-01-01 03:00:00  0.601510  328717710  21945703179   60429980
4   2024-01-01 04:00:00  0.598386  330877001  21831743213   60675788
..                  ...       ...        ...          ...        ...
92  2024-01-04 20:00:00  0.572906  534698751  20910452655   63549585
93  2024-01-04 21:00:00  0.573580  530514859  20935046506   61858613
94  2024-01-04 22:00:00  0.571903  529620790  20873837803   62460655
95  2024-01-04 23:00:00  0.571523  527856634  20859957001   60035463
96  2024-01-05 00:00:00  0.570507  522969742  20822892077   64083827

[97 rows x 5 columns]

In [14]:
df_fg = preprocessing_trends_fg.preprocess_fear_greed(csv_fg)
df_fg

                     value
timestamp
2019-03-17 00:00:00   0.58
2019-03-17 01:00:00   0.58
2019-03-17 02:00:00   0.58
2019-03-17 03:00:00   0.58
2019-03-17 04:00:00   0.58
...                    ...
2024-03-17 19:00:00   0.79
2024-03-17 20:00:00   0.79
2024-03-17 21:00:00   0.79
2024-03-17 22:00:00   0.79
2024-03-17 23:00:00   0.79

[43872 rows x 1 columns]

In [18]:
df_coin['date'].min()

'2024-01-01 00:00:00'

In [31]:
new_df = df_fg[df_fg.index >= df_coin['date'].min()]

In [33]:
temp_fg = new_df[new_df.index <= df_coin['date'].max()]

In [39]:
temp_fg

                     value
timestamp
2024-01-01 00:00:00   0.65
2024-01-01 01:00:00   0.65
2024-01-01 02:00:00   0.65
2024-01-01 03:00:00   0.65
2024-01-01 04:00:00   0.65
...                    ...
2024-01-04 20:00:00   0.68
2024-01-04 21:00:00   0.68
2024-01-04 22:00:00   0.68
2024-01-04 23:00:00   0.68
2024-01-05 00:00:00   0.72

[97 rows x 1 columns]

In [34]:
df_trends = preprocessing_trends_fg.preprocess_trends(csv_trends)
new_trends = df_trends[df_trends.index >= df_coin['date'].min()]
temp_trends = new_trends[new_trends.index <= df_coin['date'].max()]

/Users/leonqueens/code/lifelonglearner94/cardano_crystal_ball/cardano_crystal_ball/interface/preprocessing_trends_fg.py:41: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_hourly[col].fillna(1, inplace=True)       # NaN gets replace by 1

In [35]:
temp_trends

                     Bitcoin  Cardano  cardano price  cryptocurrency  Ethereum
Week
2024-01-01 00:00:00     0.25     0.13           0.12            0.26      0.18
2024-01-01 01:00:00     0.25     0.13           0.12            0.26      0.18
2024-01-01 02:00:00     0.25     0.13           0.12            0.26      0.18
2024-01-01 03:00:00     0.25     0.13           0.12            0.26      0.18
2024-01-01 04:00:00     0.25     0.13           0.12            0.26      0.18
...                      ...      ...            ...             ...       ...
2024-01-04 20:00:00     0.25     0.13           0.12            0.26      0.18
2024-01-04 21:00:00     0.25     0.13           0.12            0.26      0.18
2024-01-04 22:00:00     0.25     0.13           0.12            0.26      0.18
2024-01-04 23:00:00     0.25     0.13           0.12            0.26      0.18
2024-01-05 00:00:00     0.25     0.13           0.12            0.26      0.18

[97 rows x 5 columns]

In [42]:
df_coin = df_coin.set_index('date')

In [55]:
pd.merge(right=df_coin, left=temp_fg, left_on=temp_fg.index, right_index=True)

ValueError: You are trying to merge on datetime64[ns] and object columns for key 'None'. If you wish to proceed you should use pd.concat

In [62]:
df_coin.index = pd.to_datetime(df_coin.index)

In [64]:
df_coin.index

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 01:00:00',
               '2024-01-01 02:00:00', '2024-01-01 03:00:00',
               '2024-01-01 04:00:00', '2024-01-01 05:00:00',
               '2024-01-01 06:00:00', '2024-01-01 07:00:00',
               '2024-01-01 08:00:00', '2024-01-01 09:00:00',
               '2024-01-01 10:00:00', '2024-01-01 11:00:00',
               '2024-01-01 12:00:00', '2024-01-01 13:00:00',
               '2024-01-01 14:00:00', '2024-01-01 15:00:00',
               '2024-01-01 16:00:00', '2024-01-01 17:00:00',
               '2024-01-01 18:00:00', '2024-01-01 19:00:00',
               '2024-01-01 20:00:00', '2024-01-01 21:00:00',
               '2024-01-01 22:00:00', '2024-01-01 23:00:00',
               '2024-01-02 00:00:00', '2024-01-02 01:00:00',
               '2024-01-02 02:00:00', '2024-01-02 03:00:00',
               '2024-01-02 04:00:00', '2024-01-02 05:00:00',
               '2024-01-02 06:00:00', '2024-01-02 07:00:00',
               '2024-01-02 08:00:00', '2024-01-02 09:00:00',
               '2024-01-02 10:00:00', '2024-01-02 11:00:00',
               '2024-01-02 12:00:00', '2024-01-02 13:00:00',
               '2024-01-02 14:00:00', '2024-01-02 15:00:00',
               '2024-01-02 16:00:00', '2024-01-02 17:00:00',
               '2024-01-02 18:00:00', '2024-01-02 19:00:00',
               '2024-01-02 20:00:00', '2024-01-02 21:00:00',
               '2024-01-02 22:00:00', '2024-01-02 23:00:00',
               '2024-01-03 00:00:00', '2024-01-03 01:00:00',
               '2024-01-03 02:00:00', '2024-01-03 03:00:00',
               '2024-01-03 04:00:00', '2024-01-03 05:00:00',
               '2024-01-03 06:00:00', '2024-01-03 07:00:00',
               '2024-01-03 08:00:00', '2024-01-03 09:00:00',
               '2024-01-03 10:00:00', '2024-01-03 11:00:00',
               '2024-01-03 12:00:00', '2024-01-03 13:00:00',
               '2024-01-03 14:00:00', '2024-01-03 15:00:00',
               '2024-01-03 16:00:00', '2024-01-03 17:00:00',
               '2024-01-03 18:00:00', '2024-01-03 19:00:00',
               '2024-01-03 20:00:00', '2024-01-03 21:00:00',
               '2024-01-03 22:00:00', '2024-01-03 23:00:00',
               '2024-01-04 00:00:00', '2024-01-04 01:00:00',
               '2024-01-04 02:00:00', '2024-01-04 03:00:00',
               '2024-01-04 04:00:00', '2024-01-04 05:00:00',
               '2024-01-04 06:00:00', '2024-01-04 07:00:00',
               '2024-01-04 08:00:00', '2024-01-04 09:00:00',
               '2024-01-04 10:00:00', '2024-01-04 11:00:00',
               '2024-01-04 12:00:00', '2024-01-04 13:00:00',
               '2024-01-04 14:00:00', '2024-01-04 15:00:00',
               '2024-01-04 16:00:00', '2024-01-04 17:00:00',
               '2024-01-04 18:00:00', '2024-01-04 19:00:00',
               '2024-01-04 20:00:00', '2024-01-04 21:00:00',
               '2024-01-04 22:00:00', '2024-01-04 23:00:00',
               '2024-01-05 00:00:00'],
              dtype='datetime64[ns]', name='date', freq=None)

In [59]:
temp_fg.index

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 01:00:00',
               '2024-01-01 02:00:00', '2024-01-01 03:00:00',
               '2024-01-01 04:00:00', '2024-01-01 05:00:00',
               '2024-01-01 06:00:00', '2024-01-01 07:00:00',
               '2024-01-01 08:00:00', '2024-01-01 09:00:00',
               '2024-01-01 10:00:00', '2024-01-01 11:00:00',
               '2024-01-01 12:00:00', '2024-01-01 13:00:00',
               '2024-01-01 14:00:00', '2024-01-01 15:00:00',
               '2024-01-01 16:00:00', '2024-01-01 17:00:00',
               '2024-01-01 18:00:00', '2024-01-01 19:00:00',
               '2024-01-01 20:00:00', '2024-01-01 21:00:00',
               '2024-01-01 22:00:00', '2024-01-01 23:00:00',
               '2024-01-02 00:00:00', '2024-01-02 01:00:00',
               '2024-01-02 02:00:00', '2024-01-02 03:00:00',
               '2024-01-02 04:00:00', '2024-01-02 05:00:00',
               '2024-01-02 06:00:00', '2024-01-02 07:00:00',
               '2024-01-02 08:00:00', '2024-01-02 09:00:00',
               '2024-01-02 10:00:00', '2024-01-02 11:00:00',
               '2024-01-02 12:00:00', '2024-01-02 13:00:00',
               '2024-01-02 14:00:00', '2024-01-02 15:00:00',
               '2024-01-02 16:00:00', '2024-01-02 17:00:00',
               '2024-01-02 18:00:00', '2024-01-02 19:00:00',
               '2024-01-02 20:00:00', '2024-01-02 21:00:00',
               '2024-01-02 22:00:00', '2024-01-02 23:00:00',
               '2024-01-03 00:00:00', '2024-01-03 01:00:00',
               '2024-01-03 02:00:00', '2024-01-03 03:00:00',
               '2024-01-03 04:00:00', '2024-01-03 05:00:00',
               '2024-01-03 06:00:00', '2024-01-03 07:00:00',
               '2024-01-03 08:00:00', '2024-01-03 09:00:00',
               '2024-01-03 10:00:00', '2024-01-03 11:00:00',
               '2024-01-03 12:00:00', '2024-01-03 13:00:00',
               '2024-01-03 14:00:00', '2024-01-03 15:00:00',
               '2024-01-03 16:00:00', '2024-01-03 17:00:00',
               '2024-01-03 18:00:00', '2024-01-03 19:00:00',
               '2024-01-03 20:00:00', '2024-01-03 21:00:00',
               '2024-01-03 22:00:00', '2024-01-03 23:00:00',
               '2024-01-04 00:00:00', '2024-01-04 01:00:00',
               '2024-01-04 02:00:00', '2024-01-04 03:00:00',
               '2024-01-04 04:00:00', '2024-01-04 05:00:00',
               '2024-01-04 06:00:00', '2024-01-04 07:00:00',
               '2024-01-04 08:00:00', '2024-01-04 09:00:00',
               '2024-01-04 10:00:00', '2024-01-04 11:00:00',
               '2024-01-04 12:00:00', '2024-01-04 13:00:00',
               '2024-01-04 14:00:00', '2024-01-04 15:00:00',
               '2024-01-04 16:00:00', '2024-01-04 17:00:00',
               '2024-01-04 18:00:00', '2024-01-04 19:00:00',
               '2024-01-04 20:00:00', '2024-01-04 21:00:00',
               '2024-01-04 22:00:00', '2024-01-04 23:00:00',
               '2024-01-05 00:00:00'],
              dtype='datetime64[ns]', name='timestamp', freq='h')

In [67]:
temp_trends.index

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 01:00:00',
               '2024-01-01 02:00:00', '2024-01-01 03:00:00',
               '2024-01-01 04:00:00', '2024-01-01 05:00:00',
               '2024-01-01 06:00:00', '2024-01-01 07:00:00',
               '2024-01-01 08:00:00', '2024-01-01 09:00:00',
               '2024-01-01 10:00:00', '2024-01-01 11:00:00',
               '2024-01-01 12:00:00', '2024-01-01 13:00:00',
               '2024-01-01 14:00:00', '2024-01-01 15:00:00',
               '2024-01-01 16:00:00', '2024-01-01 17:00:00',
               '2024-01-01 18:00:00', '2024-01-01 19:00:00',
               '2024-01-01 20:00:00', '2024-01-01 21:00:00',
               '2024-01-01 22:00:00', '2024-01-01 23:00:00',
               '2024-01-02 00:00:00', '2024-01-02 01:00:00',
               '2024-01-02 02:00:00', '2024-01-02 03:00:00',
               '2024-01-02 04:00:00', '2024-01-02 05:00:00',
               '2024-01-02 06:00:00', '2024-01-02 07:00:00',
               '2024-01-02 08:00:00', '2024-01-02 09:00:00',
               '2024-01-02 10:00:00', '2024-01-02 11:00:00',
               '2024-01-02 12:00:00', '2024-01-02 13:00:00',
               '2024-01-02 14:00:00', '2024-01-02 15:00:00',
               '2024-01-02 16:00:00', '2024-01-02 17:00:00',
               '2024-01-02 18:00:00', '2024-01-02 19:00:00',
               '2024-01-02 20:00:00', '2024-01-02 21:00:00',
               '2024-01-02 22:00:00', '2024-01-02 23:00:00',
               '2024-01-03 00:00:00', '2024-01-03 01:00:00',
               '2024-01-03 02:00:00', '2024-01-03 03:00:00',
               '2024-01-03 04:00:00', '2024-01-03 05:00:00',
               '2024-01-03 06:00:00', '2024-01-03 07:00:00',
               '2024-01-03 08:00:00', '2024-01-03 09:00:00',
               '2024-01-03 10:00:00', '2024-01-03 11:00:00',
               '2024-01-03 12:00:00', '2024-01-03 13:00:00',
               '2024-01-03 14:00:00', '2024-01-03 15:00:00',
               '2024-01-03 16:00:00', '2024-01-03 17:00:00',
               '2024-01-03 18:00:00', '2024-01-03 19:00:00',
               '2024-01-03 20:00:00', '2024-01-03 21:00:00',
               '2024-01-03 22:00:00', '2024-01-03 23:00:00',
               '2024-01-04 00:00:00', '2024-01-04 01:00:00',
               '2024-01-04 02:00:00', '2024-01-04 03:00:00',
               '2024-01-04 04:00:00', '2024-01-04 05:00:00',
               '2024-01-04 06:00:00', '2024-01-04 07:00:00',
               '2024-01-04 08:00:00', '2024-01-04 09:00:00',
               '2024-01-04 10:00:00', '2024-01-04 11:00:00',
               '2024-01-04 12:00:00', '2024-01-04 13:00:00',
               '2024-01-04 14:00:00', '2024-01-04 15:00:00',
               '2024-01-04 16:00:00', '2024-01-04 17:00:00',
               '2024-01-04 18:00:00', '2024-01-04 19:00:00',
               '2024-01-04 20:00:00', '2024-01-04 21:00:00',
               '2024-01-04 22:00:00', '2024-01-04 23:00:00',
               '2024-01-05 00:00:00'],
              dtype='datetime64[ns]', name='Week', freq='h')

In [68]:
pd.concat([df_coin, temp_fg, temp_trends], axis=1)

,rate,volume,cap,liquidity,value,Bitcoin,Cardano,cardano price,cryptocurrency,Ethereum
2024-01-01 00:00:00,0.597514,338407648,21799925693,60542675,0.65,0.25,0.13,0.12,0.26,0.18
2024-01-01 01:00:00,0.600312,339369275,21902026218,63308393,0.65,0.25,0.13,0.12,0.26,0.18
2024-01-01 02:00:00,0.603989,339235997,22036149534,65246878,0.65,0.25,0.13,0.12,0.26,0.18
2024-01-01 03:00:00,0.601510,328717710,21945703179,60429980,0.65,0.25,0.13,0.12,0.26,0.18
2024-01-01 04:00:00,0.598386,330877001,21831743213,60675788,0.65,0.25,0.13,0.12,0.26,0.18
...,...,...,...,...,...,...,...,...,...,...
2024-01-04 20:00:00,0.572906,534698751,20910452655,63549585,0.68,0.25,0.13,0.12,0.26,0.18
2024-01-04 21:00:00,0.573580,530514859,20935046506,61858613,0.68,0.25,0.13,0.12,0.26,0.18
2024-01-04 22:00:00,0.571903,529620790,20873837803,62460655,0.68,0.25,0.13,0.12,0.26,0.18
2024-01-04 23:00:00,0.571523,527856634,20859957001,60035463,0.68,0.25,0.13,0.12,0.26,0.18
2024-01-05 00:00:00,0.570507,522969742,20822892077,64083827,0.72,0.25,0.13,0.12,0.26,0.18